body {
  margin: 0;
  padding: 0;
  /* background: #030303; */
  overflow: hidden;
  color: white;
}

.wrapper{
  width: 50vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  margin: auto;
  margin-right: 0;
  background: black;
  padding-top: 50px;
  padding-left: 50px;
}
img{
  position: absolute;
}
