html{
  height: 100vh;
  width: 100vw;
  background: #000000;
}
.wrapper-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card{
  width: 120px;
  height: 240px;
  background-color: #000000;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.two {
  transform: translateY(40px);
}

img{
  height: 250px;
  width: 140px;
}
button{
  position: absolute;
  top: 80%;
  left: 50%;
transform: translateX(-50%);
}