html{
  height: 100vh;
  width: 100vw;
  background: #000000;
  overflow: hidden;
}
.wrapper-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: end; */
  /* border: 1px solid red; */
  /* flex-direction: row-reverse; */
  padding-left: 50%;
}
.card{
  width: 15%;
  height: auto;
  /* background-color: #000000; */
  margin: 10px;
  /* border-radius: 10px; */
  overflow: hidden;
  float: right;
}

.two {
  margin-top: 40px;
}

img{
  
  width: 100%;
  height: auto;
}
button{
  position: absolute;
  top: 80%;
  left: 50%;
transform: translateX(-50%);
}